.App {
  text-align: center;
  margin:0 50px ;
  background-color: rgb(219, 219, 210);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.parentGrid {
  display: grid;
  grid-template-areas:
    'rodoabad'
    'otherGrid';
    grid-template-columns: 100%;
}

.otherChildGrid {
  grid-area: otherGrid
}

.rodoabad {
  grid-area: rodoabad;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title_url_author{
  text-align: left;
  font-size: 11px;
}
td, th {
  border: 1px solid #dddddd;
 
  text-align: center;
    padding: 8px;
    font-size: small;
    font-weight: bold;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
/* tr:nth-child(even) {
  background-color: rgb(246, 246, 239);
}
tr:nth-child(odd) {
  background-color: rgb(246, 246, 239)} */

  tr:nth-child(even) {
    background-color: rgb(228, 228, 221);
  }
  tr:nth-child(odd) {
    background-color: rgb(219, 219, 210);
  }
  .buttons{
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
  }
  .prev ,.next {
    background: none;
    border: none;
    color: #ff7412;
    cursor: pointer;
    height: 20px !important;
  }

  .recharts-wrapper {
    height: 300px !important;
  }
  .recharts-text .recharts-label{
    margin: 10px !important;

  }

  .valueshow{
    color: #b33c00;

    ;
  }
  .valuemore{
    color: #ce802f;

  }
  
  .valueevenmore{
    color: orangered;
  }

  .graph{
    margin: 25px 0 0;
  }
  
  @media only screen and (max-width: 768px) {
    body {
      /* background-color: lightblue; */
    }
    .App {
      /* text-align: center; */
      margin: 0px;
      width: auto !important;
  }
 
  .parentGrid {
    display: grid;
    grid-template-areas:
      'rodoabad'
      'otherGrid';
      grid-template-columns: 100%;
  }
  
  .otherChildGrid {
    grid-area: otherGrid
  }
  
  .rodoabad {
    grid-area: rodoabad;
  }
  }